{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block nav %}
    Bioethical Banter
{% endblock %}

{% block signin %}
    <!-- make this a link to the sign-in page -->
    sign-in
{% endblock %}

{% block login %}
    <!-- make this a link to the login page -->
    <a href="/login">Login</a>    
{% endblock %}

{% block main %}
    <h3>About: Bioethical Banter</h3>
    <div>
        <h5>What it is</h5>
        <h5>What it's for</h5>
        <h5>How to use the application</h5>
    </div>
{% endblock %}