{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block nav %}
    Login Page
{% endblock %}

{% block main %}
<div class="login-container">
    <h1 class="main-heading">Welcome Back</h1>
    <form action="/login" method="post" class="login-form">
        <label for="username" class="form-label">Username</label>
        <input id="username" name="username" type="text" autocomplete="off" placeholder="Ex. Laura" class="form-input">

        <label for="password" class="form-label">Password</label>
        <input id="password" name="password" type="password" class="form-input">

        <button type="submit" class="form-button">Login</button>
    </form>

    {% if message %}
        <p class="login-message">{{ message }}</p>
    {% endif %}
</div>
{% endblock %}
